<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-transparent">
<a class="navbar-brand" href="/docks/new" style="font-size: 30px;">My DropBox</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/docks/new">Upload</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-white" href="/docks">View Files</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarNavAltMarkup" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user-gear fa-lg"></i> Profile </a>
        <ul class="dropdown-menu" aria-labelledby="navbarNavAltMarkup">
          <li><a class="dropdown-item" href="/users/edit">Edit Profile</a></li>
          <li><a class="dropdown-item" href="/users/sign_out">Log Out</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</nav>
